<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrServlet</servlet-name>
        <servlet-class>CrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacServlet</servlet-name>
        <servlet-class>FacServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOtpServlet</servlet-name>
        <servlet-class>SendOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyOtpServlet</servlet-name>
        <servlet-class>verifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFacultyServlet</servlet-name>
        <servlet-class>UpdateFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterFacultyServlet</servlet-name>
        <servlet-class>RegisterFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCRServlet</servlet-name>
        <servlet-class>RegisterCRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFacultyServlet</servlet-name>
        <servlet-class>ShowFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SowFileServlet</servlet-name>
        <servlet-class>SowFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCrServlet</servlet-name>
        <servlet-class>UpdateCrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPhotoServlet</servlet-name>
        <servlet-class>GetPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTimetableServlet</servlet-name>
        <servlet-class>GetTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <servlet-class>DeleteRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRecordServlet</servlet-name>
        <servlet-class>ViewRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPhotoServlet</servlet-name>
        <servlet-class>showPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showTimetableServlet</servlet-name>
        <servlet-class>showTimetableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCRPasswordServlet</servlet-name>
        <servlet-class>ChangeCRPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrProfileServlet</servlet-name>
        <servlet-class>CrProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyProfileServlet</servlet-name>
        <servlet-class>FacultyProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDepartmentServlet</servlet-name>
        <servlet-class>SearchDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadTTServlet</servlet-name>
        <servlet-class>UploadTTServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkAttendanceServlet</servlet-name>
        <servlet-class>MarkAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QRGeneratorServlet</servlet-name>
        <servlet-class>QRGeneratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCRServlet</servlet-name>
        <servlet-class>ViewCRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoeTimeServlet</servlet-name>
        <servlet-class>ShoeTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTimeServlet</servlet-name>
        <servlet-class>ShowTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessRequestServlet</servlet-name>
        <servlet-class>ProcessRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestServlet</servlet-name>
        <servlet-class>UpdateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUpdateRequestsServlet</servlet-name>
        <servlet-class>ViewUpdateRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestsServlet</servlet-name>
        <servlet-class>UpdateRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendUpdateRequestServlet</servlet-name>
        <servlet-class>SendUpdateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatbotServlet</servlet-name>
        <servlet-class>ChatbotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuickUpdateServlet</servlet-name>
        <servlet-class>QuickUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostNoticeServlet</servlet-name>
        <servlet-class>PostNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNoticeToFacultyServlet</servlet-name>
        <servlet-class>SendNoticeToFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HideNoticeServlet</servlet-name>
        <servlet-class>HideNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNoticeServlet</servlet-name>
        <servlet-class>DeleteNoticeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrServlet</servlet-name>
        <url-pattern>/CrServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacServlet</servlet-name>
        <url-pattern>/FacServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOtpServlet</servlet-name>
        <url-pattern>/SendOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyOtpServlet</servlet-name>
        <url-pattern>/verifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFacultyServlet</servlet-name>
        <url-pattern>/UpdateFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterFacultyServlet</servlet-name>
        <url-pattern>/RegisterFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCRServlet</servlet-name>
        <url-pattern>/RegisterCRServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFacultyServlet</servlet-name>
        <url-pattern>/ShowFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SowFileServlet</servlet-name>
        <url-pattern>/SowFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCrServlet</servlet-name>
        <url-pattern>/UpdateCrServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPhotoServlet</servlet-name>
        <url-pattern>/GetPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTimetableServlet</servlet-name>
        <url-pattern>/GetTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecordServlet</servlet-name>
        <url-pattern>/DeleteRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecordServlet</servlet-name>
        <url-pattern>/ViewRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPhotoServlet</servlet-name>
        <url-pattern>/showPhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showTimetableServlet</servlet-name>
        <url-pattern>/showTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCRPasswordServlet</servlet-name>
        <url-pattern>/ChangeCRPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrProfileServlet</servlet-name>
        <url-pattern>/CrProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyProfileServlet</servlet-name>
        <url-pattern>/FacultyProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDepartmentServlet</servlet-name>
        <url-pattern>/SearchDepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTTServlet</servlet-name>
        <url-pattern>/UploadTTServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkAttendanceServlet</servlet-name>
        <url-pattern>/MarkAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QRGeneratorServlet</servlet-name>
        <url-pattern>/qr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCRServlet</servlet-name>
        <url-pattern>/ViewCRServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoeTimeServlet</servlet-name>
        <url-pattern>/ShoeTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTimeServlet</servlet-name>
        <url-pattern>/ShowTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessRequestServlet</servlet-name>
        <url-pattern>/ProcessRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestServlet</servlet-name>
        <url-pattern>/UpdateRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUpdateRequestsServlet</servlet-name>
        <url-pattern>/ViewUpdateRequestsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestsServlet</servlet-name>
        <url-pattern>/UpdateRequestsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendUpdateRequestServlet</servlet-name>
        <url-pattern>/SendUpdateRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatbotServlet</servlet-name>
        <url-pattern>/ChatbotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuickUpdateServlet</servlet-name>
        <url-pattern>/QuickUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostNoticeServlet</servlet-name>
        <url-pattern>/PostNoticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNoticeToFacultyServlet</servlet-name>
        <url-pattern>/SendNoticeToFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideNoticeServlet</servlet-name>
        <url-pattern>/HideNoticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNoticeServlet</servlet-name>
        <url-pattern>/DeleteNoticeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
